In [1]:
import os
import pandas as pd
import hddm

/opt/conda/lib/python3.8/site-packages/IPython/parallel.py:12: ShimWarning: The `IPython.parallel` package has been deprecated since IPython 4.0. You should import from ipyparallel instead.
  warn("The `IPython.parallel` package has been deprecated since IPython 4.0. "

In [2]:
# Load data
data = hddm.load_csv('ddm_combine.csv')
data.rt = data.rt/1000
data.response = 1-data.response
data = hddm.utils.flip_errors(data)

In [3]:
data.head(10)

,subj_idx,race,outSold,rt,response,stim,stimulus,type,sold,subj_race,c_race
0,1,Asian,2,10.487,1,neutral_tree,tree,Neutral,low,same,asian_same
1,1,Asian,9,7.559,1,neutral_face,face,Neutral,high,same,asian_same
2,1,Asian,4,2.918,1,neutral_tree,tree,Neutral,low,same,asian_same
3,1,Asian,2,3.144,1,neutral_tree,tree,Neutral,low,same,asian_same
4,1,Asian,9,3.106,1,neutral_face,face,Neutral,high,same,asian_same
5,1,Asian,1,1.828,1,neutral_face,face,Neutral,low,same,asian_same
6,1,Asian,5,-2.010,0,neutral_face,face,Neutral,low,same,asian_same
7,1,Asian,7,-2.824,0,neutral_face,face,Neutral,high,same,asian_same
8,1,Asian,1,-1.966,0,neutral_tree,tree,Neutral,low,same,asian_same
9,1,Asian,10,2.273,1,neutral_face,face,Neutral,high,same,asian_same

In [5]:
data = data[data.stimulus!='tree']

In [6]:
data

,subj_idx,race,outSold,rt,response,stim,stimulus,type,sold,subj_race,c_race
1,1,Asian,9,7.559,1,neutral_face,face,Neutral,high,same,asian_same
4,1,Asian,9,3.106,1,neutral_face,face,Neutral,high,same,asian_same
5,1,Asian,1,1.828,1,neutral_face,face,Neutral,low,same,asian_same
6,1,Asian,5,-2.010,0,neutral_face,face,Neutral,low,same,asian_same
7,1,Asian,7,-2.824,0,neutral_face,face,Neutral,high,same,asian_same
...,...,...,...,...,...,...,...,...,...,...,...
49849,779,Caucasian,9,0.649,1,pain_face,face,Pain,high,same,caucasian_same
49850,779,Caucasian,8,0.732,1,pain_face,face,Pain,high,same,caucasian_same
49851,779,Caucasian,3,0.567,1,pain_face,face,Pain,low,same,caucasian_same
49853,779,Caucasian,7,0.703,1,pain_face,face,Pain,high,same,caucasian_same
49855,779,Caucasian,9,0.699,1,pain_face,face,Pain,high,same,caucasian_same

In [7]:
m = hddm.HDDM(data, depends_on={'v': ['type','subj_race'], 'a': ['type','subj_race'], 'z': ['type','subj_race']}, bias = True, p_outlier=.05)
m.find_starting_values()
m.sample(20000, burn=1000, dbname='db_combine_notree', db='pickle')
m.save('model_combine_notree')

/opt/conda/lib/python3.8/site-packages/scipy/optimize/optimize.py:2215: RuntimeWarning: invalid value encountered in double_scalars
  tmp2 = (x - v) * (fx - fw)

 [-----------------100%-----------------] 20001 of 20000 complete in 120003.8 sec

In [ ]:
m = hddm.HDDM(data, depends_on={'v': ['type','c_race'], 'a': ['type','c_race'], 'z': ['type','c_race']}, bias = True, p_outlier=.05)
m.find_starting_values()
m.sample(20000, burn=1000, dbname='db_combine_new', db='pickle')
m.save('model_combine_new')